* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Condensed', sans-serif;
  scroll-behavior: smooth;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  background-repeat: no-repeat;
  background-position: center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-size: auto;
  background-size: cover;
}

.title {
  color: pink;
  font-family: 'Barlow Condensed', sans-serif;
  text-decoration: none;
}
input:focus {
  background-color: rgba(206, 216, 26, 0.748);
  outline-width: 0;
}
button:focus {
  outline-width: 0;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
#app {
  font-family: 'Barlow Condensed', sans-serif;
}
label {
  display: block;
}
nav a {
  display: inline-block;
  margin: 1em;
}
form div {
  margin: 1em;
  display: inline-block;
}
.individual-book {
  border-style: groove;
  width: 30%;
  padding: 20px;
  /* background-origin: padding-box;  */
}
button.deleteButton {
  background-color: rgb(40, 185, 117);
  color: white;
  font-family: ‘Segoe UI’, Tahoma, Geneva, Verdana, sans-serif;
  width: 150px;
  height: 25px;
  float: right;
}
button.deleteButton2 {
  background-color: rgb(47, 161, 127);
  color: white;
  font-family: ‘Segoe UI’, Tahoma, Geneva, Verdana, sans-serif;
  width: 150px;
  height: 24px;
}
.minusplus {
  background-color: rgb(47, 161, 127);
  color: white;
  height: 25px;
}
.fa-shopping-cart {
  color: rgb(9, 145, 55);
  font-size: 25px;
}
.confirmation-page {
  color: rebeccapurple;
  text-size-adjust: 100px;
}
