* {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  font-family: 'Maven Pro', sans-serif;
  scroll-behavior: smooth;
}
/* //------------NAV----------------// */

.link:focus {
  color: rgb(88, 174, 148);
  font-weight: bolder;
}

nav a {
  display: inline-block;
  margin: 2em;
  font-size: 18px;
}

/* //------------HEADER----------------// */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  /* z-index: 1000; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  transition: 0.5s;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header .logo {
  color: black;
  font-family: 'Maven Pro', sans-serif;
  font-size: 30px;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 2rem;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: black;
  text-decoration: none;
}

/* //------------BODY----------------// */

body {
  font-family: 'Maven Pro', sans-serif;
  background-repeat: no-repeat;
  background-position: center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-size: auto;
  background-size: cover;
}
button:focus {
  outline-width: 0;
}
a {
  text-decoration: none;
  color: black;
}
#app {
  font-family: 'Maven Pro', sans-serif;
}
label {
  display: block;
}

/* //------------ALL BOOKS----------------// */

.books-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 150px;
}
.individual-book {
  width: 25%;
  height: 25%;
  margin: 50px;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* padding: 20px; */
  /* padding-top: 10px;
  padding-bottom: 80px; */
}
.book-title {
  width: 80%;
  font-weight: 900;
  font-size: 20px;
  padding-top: 10px;
  text-decoration: none;
  color: black;
}
.price {
  padding-top: 10px;
}
.author {
  padding-top: 10px;
}
.individual-book img {
  width: 20vh;
  height: 30vh;
}
.addToCartButton {
  background-color: rgb(88, 174, 148);
  font-size: 16px;
  color: white;
  width: 150px;
  height: 40px;
  border: none;
  border: none;
  border-radius: 5px;
}
/* //---------------------------SINGLE BOOK-------------------------------// */
.single-product-container {
  padding-top: 300px;
  padding-left: 150px;
  display: flex;
  justify-content: center;
}
.single-product-content {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.product-image {
  width: 50%;
  flex-direction: row;
  justify-content: center;
}
.product-image img {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}
.product-detail {
  width: 50%;
  flex-direction: row;
}
.product-title {
  font-size: 2.08rem;
}
.product-author {
  padding-top: 10px;
}
.product-price {
  padding-top: 20px;
  font-size: 25px;
  font-weight: bolder;
}
.product-genre {
  padding-top: 40px;
  font-size: 18px;
}
.product-description {
  padding-top: 10px;
  padding-bottom: 40px;
  font-size: 18px;
}
/* //----------------------------CART--------------------------------// */
.cart-container {
  display: flex;
  align-items: flex-start;
}
.cart-box {
  border: 1px solid #ccc;
  width: 90vh;
  margin: 100px;
  flex: 2;
}
.sub-total-box {
  border: 1px solid #ccc;
  width: 30vh;
  margin: 200px;
  flex: 1;
}
.cart-checkout-button-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.cart-title-container {
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  background: rgb(225, 245, 240);
  padding: 1rem;
  text-align: center;
}
.cart-cell {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
}
.cart-image-container {
  width: 50%;
  height: 50%;
  padding-left: 50px;
  padding-top: 100px;
  padding-bottom: 50px;
  display: inline-flex;
  justify-content: center;
}
.cart-rest-container {
  width: 60%;
  min-width: 300px;
}
.cart-book-title {
  width: 80%;
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 10px;
}
.cart-book-genre {
  padding-bottom: 10px;
}
.cart-book-unit-price {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}
.cart-book-total-price {
  padding-top: 20px;
  font-size: 18px;
}
.cart-quantity {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}
.qty-input {
  width: 33px;
  height: 26px;
  text-align: center;
  background: rgb(225, 245, 240);
  padding-top: 5px;
}
.minusplus {
  background-color: rgb(47, 161, 127);
  color: white;
  height: 30px;
  width: 33px;
  font-size: 20px;
  border: none;
}
.update-quantity-button {
  background-color: rgb(47, 161, 127);
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Maven Pro', sans-serif;
  width: 120px;
  height: 30px;
}
.remove-button-container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.remove-from-cart-button {
  font-size: 14px;
  background-color: rgb(47, 161, 127);
  color: white;
  font-family: 'Maven Pro', sans-serif;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.cart-checkout-button {
  font-size: 14px;
  background-color: rgb(47, 161, 127);
  color: white;
  font-family: 'Maven Pro', sans-serif;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

/* //---------------------------LOG IN------------------------------// */
.login-container-div {
  padding-top: 200px;
}
.login-content-div {
  padding: 10px;
  margin: 50px auto;
  width: 375px;
  height: 400px;
  border-radius: 5px;
  background-color: #fbfaf6;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.login-header-div {
  width: 100%;
  display: block;
}
.login-header-logo {
  padding-top: 30px;
  text-align: center;
}
.login-header-h1 {
  padding-top: 15px;
  font-size: 14px;
  text-align: center;
}
.login-form-div {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.login-form-form {
  display: grid;
  grid-template-columns: 1ft;
  grid-template-rows: auto;
  justify-content: center;
  padding-bottom: 40px;
}
.login-form-email {
  width: 300px;
  height: 30px;
  border-radius: 5px;
}
.login-form-pw {
  width: 300px;
  height: 30px;
  border-radius: 5px;
}
.sign-in-button-container {
  padding-top: 40px;
}
.sign-in-button {
  background-color: rgb(88, 174, 148);
  font-size: 16px;
  color: white;
  height: 25px;
  width: 305px;
  height: 40px;
  border: none;
  border-radius: 5px;
}
input:focus {
  background-color: rgb(225, 245, 240);
  outline-width: 0;
}
/* //---------------------------------------------------------------// */

button.deleteButton {
  background-color: rgb(40, 185, 117);
  color: white;
  font-family: 'Maven Pro', sans-serif;
  width: 150px;
  height: 25px;
  float: right;
}
button.deleteButton2 {
  background-color: rgb(47, 161, 127);
  color: white;
  font-family: 'Maven Pro', sans-serif;
  width: 150px;
  height: 24px;
}
.fa-shopping-cart {
  color: rgb(9, 145, 55);
  font-size: 25px;
}
.confirmation-page {
  color: rebeccapurple;
  text-size-adjust: 100px;
}
