body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

button.deleteButton {
  background-color: red;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 150px;
  height: 25px;
  float: right;
}

button.deleteButton2 {
  background-color: red;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 150px;
  height: 25px;
}

.fa-shopping-cart {
  color: rgb(9, 145, 55);
  font-size: 25px;
}

.confirmation-page {
  color: rebeccapurple;
  text-size-adjust: 100px;
}
